/* Body styling*/
body {
    font-family: 'Open Sans', sans-serif;
}

/*Header styling*/
header {
    background-size: cover;
    position: relative;
    background-color: #0066ff;
    color: #ffffff;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

input{
    width: 80%;
}

label {
    font-weight: 700;
    font-size: 30px;
}

#search-button {
    background-color: #993366;
    color:#ffffff;
    border-radius: 5px;
    
}

#clear {
    background-color: #008000;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
}

#today-weather {
    padding-left: 15px;
}

.weather-card {
    width: 32px;
    background-color: #0275d8;
    color: #ffffff;
    text-align: center;
}

.uv-favorable {
    background-color:#008000;
    border-radius: 5px;
    color: #ffffff;
}

.uv-moderate {
    background-color: #ffa500;
    border-radius: 5px;
    color: #ffffff;
}

.uv-severe {
    background-color: #ff0000;
    border-radius: 5px;
    color: #ffffff;
}