/* Body styling*/
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

h5 {
    font-size: 30px;
}

header {
    background-color: #8080ff;
    color: #ffffff;
}

#search-button {
    background-color: #00cc00;
}

#clear {
     background-color: #cc2900;
}